<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LuxuryNitro - Purchase</title>
    <link rel="stylesheet" href="assets/vendors/core/core.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/fonts/feather-font/css/iconfont.css">
    <link rel="stylesheet" href="assets/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="assets/vendors/toastr/toastr.min.css">
    <link rel="icon" href="assets/img/logo.png" type="image/png" />
</head>
    
<body>

    <div class="main-wrapper">

        <nav class="sidebar">
            <div class="sidebar-header">
                <a href="/" class="sidebar-brand">
                    Luxury<span>Nitro</span>
                </a>
                <div class="sidebar-toggler not-active">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="sidebar-body">
                <ul class="nav" style="padding-top: 10px">
                    <li class="nav-item">
                        <a href="/" class="nav-link">
                            <i class="link-icon" data-feather="layout"></i>
                            <span class="link-title">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="purchase" class="nav-link">
                            <i class="link-icon" data-feather="dollar-sign"></i>
                            <span class="link-title">Purchase</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="faq" class="nav-link">
                            <i class="link-icon" data-feather="help-circle"></i>
                            <span class="link-title">FAQ</span>
                        </a>
                    </li>
                    
                    <li class="nav-item nav-category mb-3">
                        Tickets
                        <p class="text-muted" style="font-size: 10px;">Updates every 5s</p>
                    </li>
                    <li class="nav-item">
                        <a href="ticket-create" class="nav-link">
                            <i class="link-icon" data-feather="plus-circle"></i>
                            <span class="link-title">Create</span>
                        </a>
                    </li>
                    <li class="nav-item" id="loading-tickets">
                        <a class="nav-link">
                            <i class="link-icon" data-feather="loader"></i>
                            <span class="link-title">Loading...</span>
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#closed-dropdown" role="button" aria-expanded="false" aria-controls="emails">
                            <i class="link-icon" data-feather="archive"></i>
                            <span class="link-title" id="closed-span">Closed</span>
                            <i class="link-arrow" data-feather="chevron-down"></i>
                        </a>
                        <div class="collapse" id="closed-dropdown">
                            <ul class="nav sub-menu" id="closed-items">
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="page-wrapper">
            <nav class="navbar">
                <a href="#" class="sidebar-toggler">
                    <i data-feather="menu"></i>
                </a>
                <div class="navbar-content">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="settings" title="Settings">
                                <i class="link-arrow text-secondary" style="width: 20px;" data-feather="settings"></i>
                            </a> 
                        </li>
                        <li class="nav-item">
                            <a href="logout" title="Logout">
                                <i class="link-arrow text-danger" style="width: 20px;" data-feather="log-out"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="page-content">
                <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
                    <div class="mt-5">
                        <h4 class="mb-3 mb-md-0">FAQ</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div id="accordion" class="accordion" role="tablist">
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingOne">
                                            <h6 class="mb-0">
                                                <a data-toggle="collapse" href="#faqOne" aria-expanded="true" aria-controls="faqOne">
                                                    Is my Discord Token safe?
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="faqOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                                            <div class="card-body">
                                                Yes, your token is <b>never</b> stored in plaintext storage. We use AES-256bit encryption to store your token on our servers. Your token is only kept unencrypted in RAM. 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingTwo">
                                            <h6 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" href="#faqTwo" aria-expanded="false" aria-controls="faqTwo">
                                                    What type of Nitro will I receive?
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="faqTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                                            <div class="card-body">
                                                You could receive any type of Nitro for gifts (monthly, yearly, basic, boost), however the most common is Nitro Boost 1 Month.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingThree">
                                            <h6 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" href="#faqThree" aria-expanded="false" aria-controls="faqThree">
                                                    Will my Discord Account get locked or banned?
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="faqThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                                            <div class="card-body">
                                                No, our sniping software replicates how you would normally claim Nitro, so there is no risk to your account getting locked or banned.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingFour">
                                            <h6 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" href="#faqFour" aria-expanded="false" aria-controls="faqFour">
                                                    What is a Discord Token and where can I find it?
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="faqFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
                                            <div class="card-body">
                                                A Discord token is a unique code that identifies a user's account on Discord. It allows Discord to know that you are you.
                                                <br>Think of it like a key lets you access your Discord Account.
                                                <br>
                                                <br>Here is a tutorial on how to get it: <a href="https://youtu.be/YEgFvgg7ZPI?t=34" target="_blank">https://youtu.be/YEgFvgg7ZPI?t=34</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingFive">
                                            <h6 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" href="#faqFive" aria-expanded="false" aria-controls="faqFive">
                                                    What is sniping and how does it work?
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="faqFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordion">
                                            <div class="card-body">
                                                A Sniper is a program that monitors messages on Discord for Nitro Gift links, and then claims them as fast as possible. We monitor messages on thousands of servers, in order to get Nitro to you quickly.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="footer d-flex flex-column flex-md-row align-items-center justify-content-between">
                <p class="text-muted text-center text-md-left">Copyright © 2023 <a href="/">LuxuryNitro</a>. All rights reserved.</p>
                <p class="text-muted text-center text-md-right">Made with ❤️ by <a href="https://chasa.wtf" target="_blank" class="text-primary">chasa</a></p>
            </footer>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js"></script>
    <script src="assets/vendors/core/core.js"></script>
    <script src="assets/vendors/feather-icons/feather.min.js"></script>
    <script src="assets/js/templatef195.js?v=2.1"></script>
    <script src="assets/vendors/toastr/toastr.min.js"></script>
    <script>
        function fetch_tickets() {
            axios({
                method: 'get',
                url: '/api/v1/users/@me/tickets',
                withCredentials: true
            })
            .then(function (response) {
                console.log(response);
                var closed_unread = false
                for(let ticket of response.data) {
                    if (ticket.seen == false && ticket.open == false) {
                        closed_unread = true
                    }
                    if (ticket.seen == true) {
                        var name_tag = `#${ticket.id}`
                    } else {
                        var name_tag = `<b>#${ticket.id}</b><span style="margin-left: 3px;">(Unread)</span>`
                    }
                    
                    if ($(`#ticket-${ticket.id}`).length) {
                        if (ticket.open == true) {
                            $(`#ticket-${ticket.id}`).html(`
                            <a href="ticket?id=${ticket.id}" class="nav-link">
                                <i class="link-icon" data-feather="message-square"></i>
                                <span class="link-title">${name_tag}</span>
                            </a>`);
                        } else {
                            $(`#ticket-${ticket.id}`).html(`<a href="ticket?id=${ticket.id}" class="nav-link">${name_tag}</a>`);
                        }
                    } else {
                        if (ticket.open == true) {
                            $('#loading-tickets').after(`
                            <li class="nav-item" id="ticket-${ticket.id}">
                                <a href="ticket?id=${ticket.id}" class="nav-link">
                                    <i class="link-icon" data-feather="message-square"></i>
                                    <span class="link-title">${name_tag}</span>
                                </a>
                            </li>`)
                        } else {
                            $('#closed-items').append(`
                            <li class="nav-item" id="ticket-${ticket.id}">
                                <a href="ticket?id=${ticket.id}" class="nav-link">${name_tag}</a>
                            </li>`)
                        }
                    }
                }
                
                if (closed_unread == true) {
                    $('#closed-span').html('<b>Closed</b> (Unread)')
                } else {
                    $('#closed-span').html('Closed')
                }
                feather.replace()
                $('#loading-tickets').hide()
            })
            .catch(function (error) {
                console.log(error);
                if (error.response.status == 401) {
                    window.location.reload();
                }
            });
        }
        fetch_tickets()
        setInterval(fetch_tickets, 5000)
    </script>
    
</body>

</html>